<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Ethernal block explorer{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/styles/darkula.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/highlight.min.js"></script>
    {% block extra_head %}
    {% endblock %}
    <style type="text/css">
        body {
            background-color: beige;
        }
        .pager li>a {
            background-color: beige;
        }

        .jumbotron {
            margin-bottom: 0;
            background-color: beige;
        }

        ::-webkit-scrollbar {
           display: none;
        }

        .stats {
            text-align: center;
        }

    </style>
</head>
<body>
<div>
    {% block raw_content %}
    {% endblock %}
    {% block navigation %}
        <nav>
          <ul class="pager">
            <li><a href="/">Ethernal</a></li>
          </ul>
        </nav>
    {% endblock %}
</div>


<script>
    hljs.initHighlightingOnLoad();
</script>
<!-- jQuery first, then Bootstrap JS. -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
{% block extra_js %}{% endblock %}

{% if inline_links %}
    <script>
        var inline_links = {{ inline_links|tojson(indent=2)|safe  }};
        var code_html = $('code').html();

        Object.keys(inline_links).forEach(function (key, index) {
            var link = '<a href="'+inline_links[key] + '">' + key + '</a>';
            code_html = code_html.replace(new RegExp(key, 'g'), link)
        });

         $('code').html(code_html);
    </script>
{% endif %}


</body>
</html>