{% extends 'base.html' %}

{% block raw_content %}
    {% with json_info=block.content %}
        {% include 'dumped_json.html' %}
    {% endwith %}
{% endblock %}

{% block navigation %}
<nav>
  <ul class="pager">
    <li class="pager-prev"><a href="{{ url_for('block', block_number=block.previous_block) }}">Previous</a></li>
    <li><a href="/">Ethernal</a></li>
    <li class="pager-next"><a href="{{ url_for('block', block_number=block.next_block) }}">Next</a></li>
  </ul>
</nav>
{% endblock %}