{% extends 'base.html' %}

{% block raw_content %}
    <pre><code class="json">{{ block_info|tojson(indent=2)|safe }}</code></pre>
    <nav>
      <ul class="pager">
        <li class="pager-prev"><a href="{{ url_for('block', block_number=previous_block) }}">Previous</a></li>
        <li><a href="{{ url_for('block', block_number=block_number) }}">Block {{ block_number }}</a></li>
        <li class="pager-next"><a href="{{ url_for('block', block_number=next_block) }}">Next</a></li>
      </ul>
    </nav>
{% endblock %}